<!doctype html>
<html class="no-js">

{% include head.html %}

<body>

    <div class="off-canvas-wrapper">
        
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

            <!-- Off Canvas Menu -->

            {% include nav.html %}

            <!-- Main content -->
            
            <div class="off-canvas-content" data-off-canvas-content>

                {% include title-bar.html %}
                
                
                <div class="content">
                    
                    <div class="row column">

                        {{ content }}

                    </div>
                    
                    
                    <footer class="site-footer row column mts" role="contentinfo">
                        <hr/>
                        <ul class="menu quiet copyright align-right">
                            <li><a href="https://github.com/{{ site.github }}/"><i class="fa fa-github"></i>@{{ site.github }}</a>
                            </li>
                        </ul>
                        <ul class="menu quiet">
                            {% include nav.html %}
                        </ul>
                    </footer>
                </div>
                <!-- end .content -->

            </div>
            <!-- end .off-canvas-content -->
        </div>
        <!-- end .off-canvas-wrapper-inner -->
    </div>
    <!-- end .off-canvas-wrapper -->

    {% include foot.html %}
    
</body>

</html>
